services:
  db:
    image: postgres:18-alpine
    container_name: db_container
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@notes-app.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8888:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server_container
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - db
    volumes:
      - ./server/:/usr/src

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client_container
    ports:
      - "5173:5173"
    depends_on:
      - server
    volumes:
      - ./client:/app

volumes:
  pg_data:
  pgadmin_data:
